package components

templ Hello(name string) {
	<html>
		<head>
			<title>Greeting</title>
			<link href="./assets/styles.css" rel="stylesheet">
		</head>
		<body class="bg-slate-800 text-slate-300">
			<div>Hello, { name }!!!</div>
		</body>
	</html>
}
